In [10]:
# Librerias generales
import pandas as pd
import numpy as np
import sqlite3 as sql ### para conectarse a BD
from sklearn.impute import SimpleImputer
import plotly.express as px


# Librerias e visualizaci√≥n
import seaborn as sns
import matplotlib.pyplot as plt

NOTA: SE CAMBIAN TODAS LAS FECHAS DESDE EL FORMATO DE EXCEL

In [11]:
###Lectura base de cronicos
df = pd.read_csv('BD_Asegurados_Expuestos.csv', sep = ';')
df.head(10)

   Asegurado_Id  Poliza_Id FECHA_INICIO FECHA_CANCELACION   FECHA_FIN
0       1213170  113307876    1/09/2019               NaN  15/12/2019
1      22248110  195410143    1/09/2019        31/12/2019  31/12/2019
2       7212095  192799506    1/09/2019        31/12/2019  31/12/2019
3      23743715  145500123    1/09/2019        31/12/2019  31/12/2019
4      57822199  175415440    1/09/2019        31/12/2019  31/12/2019
5      39914668  204291309    1/12/2019         1/12/2019   1/12/2019
6       5514589   50872086    1/09/2019               NaN  31/12/2019
7       5757374   90964098    1/09/2019               NaN  31/12/2019
8      29767620   65844839    1/09/2019               NaN  31/12/2019
9      54772438  199065788   14/09/2019               NaN  31/12/2019

In [12]:
###Lectura base de cronicos
df1 = pd.read_csv('BD_SocioDemograficas.csv', sep = ';')
df1.head(2)

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_4968\4016433883.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('BD_SocioDemograficas.csv', sep = ';')

,Afiliado_Id,Sexo_Cd,FechaNacimiento,Regional,CANCER,EPOC,DIABETES,HIPERTENSION,ENF_CARDIOVASCULAR
0,738288,2,8/11/1976,40,0,0,0,0,0
1,738294,2,16/01/1964,50,0,0,0,0,0

In [13]:
###Lectura base de cronicos
df2 = pd.read_csv('BD_UtilizacionesMedicas.csv', sep = ';')
df2.head(2)

,Fecha_Reclamacion,Afiliado_Id,Reclamacion_Cd,Diagnostico_Codigo,Numero_Utilizaciones,Valor_Utilizaciones
0,28/10/2019,2668445,R10,9,1,46500
1,30/09/2019,4370072,R15,9,2,42408

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231520 entries, 0 to 231519
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Asegurado_Id       231520 non-null  int64
 1   Poliza_Id          231520 non-null  int64
 2   FECHA_INICIO       231520 non-null  object
 3   FECHA_CANCELACION  104808 non-null  object
 4   FECHA_FIN          231520 non-null  object
dtypes: int64(2), object(3)
memory usage: 8.8+ MB

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225776 entries, 0 to 225775
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Afiliado_Id         225776 non-null  int64
 1   Sexo_Cd             225776 non-null  int64
 2   FechaNacimiento     225776 non-null  object
 3   Regional            225776 non-null  object
 4   CANCER              225776 non-null  int64
 5   EPOC                225776 non-null  int64
 6   DIABETES            225776 non-null  int64
 7   HIPERTENSION        225776 non-null  int64
 8   ENF_CARDIOVASCULAR  225776 non-null  int64
dtypes: int64(7), object(2)
memory usage: 15.5+ MB

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800232 entries, 0 to 800231
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Fecha_Reclamacion     800232 non-null  object
 1   Afiliado_Id           800232 non-null  int64
 2   Reclamacion_Cd        800232 non-null  object
 3   Diagnostico_Codigo    800232 non-null  object
 4   Numero_Utilizaciones  800232 non-null  int64
 5   Valor_Utilizaciones   800232 non-null  int64
dtypes: int64(3), object(3)
memory usage: 36.6+ MB

In [17]:
df.isnull().sum()

Asegurado_Id              0
Poliza_Id                 0
FECHA_INICIO              0
FECHA_CANCELACION    126712
FECHA_FIN                 0
dtype: int64

In [18]:
df1.isnull().sum()

Afiliado_Id           0
Sexo_Cd               0
FechaNacimiento       0
Regional              0
CANCER                0
EPOC                  0
DIABETES              0
HIPERTENSION          0
ENF_CARDIOVASCULAR    0
dtype: int64

In [19]:
df2.isnull().sum()

Fecha_Reclamacion       0
Afiliado_Id             0
Reclamacion_Cd          0
Diagnostico_Codigo      0
Numero_Utilizaciones    0
Valor_Utilizaciones     0
dtype: int64

In [24]:
## Se transforman todas las fechas a formato fecha
df['FECHA_INICIO'] = pd.to_datetime(df['FECHA_INICIO'])
df['FECHA_CANCELACION'] = pd.to_datetime(df['FECHA_CANCELACION'])
df['FECHA_FIN'] = pd.to_datetime(df['FECHA_FIN'])
df1['FechaNacimiento'] = pd.to_datetime(df1['FechaNacimiento'])
df2['Fecha_Reclamacion'] = pd.to_datetime(df2['Fecha_Reclamacion'])